# General build directories
target/
!target/*.jar # Include only JAR files from the target directory

# Maven wrapper files
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA specific files
.idea
*.iws
*.iml
*.ipr

# NetBeans specific files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code specific files
.vscode/

# Spring Tool Suite specific files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
